@model HomeModel

@section head
{
	<link rel="stylesheet" href="/Content/nivo-slider.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="/Scripts/plugins/themes/default/default.css" type="text/css" media="screen"/>
	
	<style>
	    div#content { width:auto; height:auto; margin:auto; }
	    
	    div#sliderQuote { width:900px; margin:auto; }
	    
	    div#quote { vertical-align:top; margin-top:50px; padding:10px; width:225px; height:280px; margin-left:26px; background-color:#eee; border-radius:10px; }
	    div#quote h3 {  }
	    div#quote img { margin-left:50px; margin-bottom:-2px; }
	    div#quote p { background-color:#fff; border-radius:10px; padding:10px; font-size:14px; border-bottom:2px solid #ddd; }
	    
	    div#slider { text-align:center; width:615px; margin:auto; margin-top:50px; }
	    div.nivoSlider { -webkit-box-shadow:none!important; -moz-box-shadow:none!important; box-shadow:none!important; width:620px; height:256px; }	    
	    /*.nivo-caption { text-align:left; color:#606060; background-color:#fff; }
	    .nivo-caption p { margin:10px; margin-left:20px; line-height:2; }
	    .nivo-caption a {  }*/
	    
	    div.boxes { width:900px; margin:60px auto; border-top:1px solid #ddd; padding-top:20px; }
	    div.boxes h2 { font-size:22px; color:#353535; margin-bottom:20px; }
	    div.boxes a { color:#00AFEF; font-size:14px; padding:3px 5px; margin-bottom:3px; }
	    div.boxes a:hover { background-color:#00AFEF; color:#fff; }	    
	    
	    div.boxes ul li { display:inline-block; zoom:1; *display:inline; width:200px; margin-right:20px; background-color:#fff; border-right:1px solid #eee; 
	                       border-bottom:2px solid #eee; height:300px; vertical-align:top; }
	    div.boxes .image { height:150px; overflow:hidden; }
	    div.boxes .info { padding:10px; height:100px; }
	    div.boxes .info h3 { font-size:14px; color:#353535; margin-bottom:10px; }
	    div.boxes .info p { color:#606060; font-size:12px; }
	    div.boxes .readMore { float:right; margin-right:5px; font-size:12px; }
	    
	    div#quoteWrapper { width:900px; margin:auto; overflow:auto; text-align:justify; border-top:1px solid #ddd; padding-top:40px; }
	    div#quoteWrapper h2 { font-size:22px; margin-bottom:30px; color:#353535; margin-left:5px; }
		div#quoteWrapper #profile { height:165px; border:1px solid #DDD; padding:5px; background-color:white; float:left; margin-right:20px; }
		div#quoteWrapper p { font-size:13px; line-height:1.8; margin-bottom:10px; }
		div#quoteWrapper div#speechWrapper { width:675px; }
	</style>
}

<div id="sliderQuote">

	<div class="slider-wrapper theme-default inlineBlock">
		<div id="slider" class="nivoSlider">
			<a href=""><img src="/content/images/slider1.png" alt="" @*title="#caption1"*@/></a>
			<a href=""><img src="/content/images/slider2.png" alt="" @*title="#caption2"*@/></a>
			<a href=""><img src="/content/images/slider3.png" alt="" @*title="#caption3"*@/></a>
			@*<a href="http://dev7studios.com"><img src="images/up.jpg" alt="" title="This is an example of a caption" /></a>
			<img src="/content/images/kidscheering.png" alt="" data-transition="slideInLeft" />
			<img src="/content/images/net.png" alt="" @*title="#htmlcaption"/>*@
		</div>
		@*	<div id="caption1" class="nivo-html-caption">
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
		</div>
		<div id="caption2" class="nivo-html-caption">
			Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
		</div>
		<div id="caption3" class="nivo-html-caption">
			Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt.
		</div>*@
	</div>
	
	<div id="quote" class="inlineBlock">
		<h3>Waqar Patel, age 17 - Participant in OSF Activity</h3>
		<img src="/Content/images/triangle.png"/>
		<p>
			I thought I was too old to enjoy sport but it was brilliant. The coaching that opportunity sports gave us was really good, can't wait untill the next session.
		</p>
	</div>

</div>

<div class="boxes">
	<h2>What is OSF? <a href="" class="inlineBlock">view all →</a></h2>
	<ul>
		<li>
			<div class="image">
				<img src="/Content/images/latest1.png"/>
			</div>
			<div class="info">
				<h3>Misson</h3>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
			</div>
			<a class="readMore" href="">read more →</a>
		</li>
		<li>
			<div class="image">
				<img src="/Content/images/latest2.png"/>
			</div>
			<div class="info">
				<h3>Strategy</h3>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
			</div>
			<a class="readMore" href="">read more →</a>
		</li>
		<li>
			<div class="image">
				<img src="/Content/images/latest3.png"/>
			</div>
			<div class="info">
				<h3>Portfolio</h3>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
			</div>
			<a class="readMore" href="">read more →</a>
		</li>
		<li>
			<div class="image">
				<img src="/Content/images/latest4.png"/>
			</div>
			<div class="info">
				<h3>Why OSF?</h3>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
			</div>
			<a class="readMore" href="">read more →</a>
		</li>
	</ul>
</div>

<div id="quoteWrapper">
	<h2>Message from Normal Bell, Chairmen of Trustees</h2>
	<img id="profile" src="/Content/images/norman.jpg" class="inlineBlock"/>
	<div id="speechWrapper" class="inlineBlock">
		<p>
			I have seen the massive benefits that sport can bring to individuals, particularly young people and children. It has long been my dream to establish
			an organisation that from first to last is focused entirely on the social development of young disadvantaged people and children through a variety
			of sporting activity, utilising top-flight professional coaches.
		</p>
		<p>
			As a professional footballer with Wolverhampton Wanderers and Blackburn Rovers I have seen first hand the huge benefits that sport can bring to the social
			development of young people. It has been a privilege over the last thirty years to be heavily involved, on a voluntary basis, with young people from
			privileged backgrounds along with young people who have been socially disadvantaged, disabled, or have offended. For me it was a natural progression
			to set up <span class="bold">Sports Opportunity Foundation</span>.
		</p>
		<p>
			Involvement in sport has changed my life and provided me with opportunities that I could have only dreamed of. At OSF we have achieved significant success
			through focused sport activity. The success of our sport development initiatives has led to another natural progression - obtaining full charity status.
		</p>
		<p>
			We are delighted that individuals and organisations have positively endorsed our work and we are pleased to share these endorsements with users and potential
			users of our non-profit making service.
		</p>
		<p>
			I believe OSF will provide significant opportunities for the youth of Lancashire and the North West through the provision of first class sport coaching. It
			will be up to young people of the region to grasp this opportunity and seize the chance to take ownership of their own destiny.
		</p>
		<p>
			Sincere best wishes
		</p>
		<p>
		<img src="/Content/images/signature.png"/>
		<p>
			Chairman of Trustees, OSF
		</p>
	</div>
</div>

<div class="boxes">
	<h2>Connect with us!</h2>
	<ul>
		<li>
			<div class="image">
				<img src="/Content/images/fb.jpg"/>
			</div>
			<div class="info">
				<h3>Facebook</h3>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
			</div>
			<a class="readMore" href="">view page →</a>
		</li>
		<li>
			<div class="image">
				<img src="/Content/images/twitter.jpg"/>
			</div>
			<div class="info">
				<h3>Twitter</h3>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
			</div>
			<a class="readMore" href="">view profile →</a>
		</li>
		<li>
			<div class="image">
				<img src="/Content/images/flickr.jpg"/>
			</div>
			<div class="info">
				<h3>Flickr</h3>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
			</div>
			<a class="readMore" href="">view photostream →</a>
		</li>
		<li>
			<div class="image">
				<img src="/Content/images/youtube.jpg"/>
			</div>
			<div class="info">
				<h3>YouTube</h3>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
			</div>
			<a class="readMore" href="">view channel →</a>
		</li>
	</ul>
</div>

@section scripts
{
	<script type="text/javascript" src="/Scripts/plugins/jquery.nivo.slider.pack.js"></script>

	<script type="text/javascript">
		$('#slider').nivoSlider({
        effect:"random",
        slices:15,
        boxCols:8,
        boxRows:4,
        animSpeed:500,
        pauseTime:4000,
        startSlide:0,
        directionNav:true,
        directionNavHide:true,
        controlNav:true,
        controlNavThumbs:true,
        controlNavThumbsFromRel:true,
        keyboardNav:true,
        pauseOnHover:true,
        manualAdvance:false
    });
	</script>	
}
