div#sliderQuote { margin:auto; }
	    
div#quote { vertical-align:top; margin-top:50px; padding:10px; width:328px; height:285px; margin-left:26px; background-color:#5270A1; border-radius:10px; }
div#quote h3 { font-size:14px; font-style:italic; color:#fff; font-weight:bold; margin-bottom:5px; }
div#quote span { display:block; font-size:14px; font-style:italic; color:#eee; }
div#quote img { margin-left:50px; }
div#quote #randomQuote { background-color:#fff; border-radius:10px; height:195px; padding:20px; font-size:13px; text-align:justify; line-height:1.7; margin-top:-3px; }
	    
div.slider-wrapper { width:619px;}

div#slider { text-align:center; width:615px; height:300px!important; margin:auto; margin-top:50px; }
div#slider img {min-width:619px; }
div#slider p { line-height:1.8; }
div#slider .date {font-weight:bold;}

div#sliderQuote{ margin-bottom:60px;}

div.nivoSlider { -webkit-box-shadow:none!important; -moz-box-shadow:none!important; box-shadow:none!important; width:620px; height:300px; }
	    
div.boxes { margin:40px auto; }
div.boxes h2 { font-size:22px; color:#353535; margin-bottom:20px; }
div.boxes a { color:#00AFEF; font-size:14px; padding:3px 5px; margin-bottom:3px; }
div.boxes a:hover { background-color:#00AFEF; color:#fff; }
div.boxes img { width:100%;}
	    
div.boxes ul li { display:inline-block; zoom:1; *display:inline; width:230px; margin-right:20px; background-color:#fff; border-right:1px solid #eee; 
	              border-bottom:2px solid #eee; height:300px; vertical-align:top; }
div.boxes ul li.last { margin-right:0; }
div.boxes .image { height:150px; overflow:hidden; }
div.boxes .info { padding:10px; height:100px; }
div.boxes .info h3 { font-size:14px; color:#353535; margin-bottom:10px; }
div.boxes .info p { color:#606060; font-size:12px; }
div.boxes .readMore { float:right; margin-right:5px; font-size:12px; }
	    
div#quoteWrapper { margin:auto; overflow:auto; text-align:justify; }
div#quoteWrapper h2 { font-size:22px; margin-bottom:30px; color:#353535; margin-left:5px; }

div#quoteWrapper #images { width:200px; margin-right:40px; vertical-align:top;}
div#quoteWrapper #images img {border:1px solid #DDD; padding:5px; background-color:white; float:left; margin-bottom:20px; vertical-align:top;}
div#quoteWrapper #images #profile { height:165px; }
div#quoteWrapper #images #playing { }

div#quoteWrapper p { font-size:13px; line-height:1.8; margin-bottom:10px; }
div#quoteWrapper div#speechWrapper { width:755px; }