
body { font-family:Tahoma; color:#606060; font-size:16px; background-color:#FCFCFC; }

a { text-decoration:none; }
p { line-height:1.5; }

textarea { font-family:Tahoma; color:#606060; }

h1, h2, h3, h4, h5 { font-family:Arial; }
h2 { font-size:22px; color:#353535; margin-bottom:20px; padding-bottom:10px; border-bottom:1px solid #ddd; margin-top:20px;}
h3 { color:#09347A; }

/* header */

div#header { width:100%; background-color:#C4CEDA; }
div#header #titleWrapper { width:1000px; margin:auto; padding-bottom:10px; }
div#header #titleWrapper p { width:400px; }
div#header #titleWrapper img { height:100px; margin-top:10px; }
div#header #titleWrapper span { float:right; color:#333; font-size:10px; font-weight:bold; margin-top:10px; }

ul#nav { list-style-type:none; list-style-position: outside; float:right; margin-top:-20px; font-family:Arial; }
ul#nav li { display:inline-block; zoom:1; *display:inline; font-size:12px; width:85px; text-align:center; }
ul#nav li a { color:#09347A; }
ul#nav li a:hover { font-weight:bold;font-size:13px; }

/* footer */

div#footer { width:100%; height:200px; background-color:#C4CEDA;margin-top:50px; }
div#footer #footerWrapper { width:1000px; margin:auto; text-align:center; padding-top:20px; }
div#footer #footerWrapper p { font-size:12px; color:#09347A; }
div#footer #footerWrapper a { color:#09347A; }
div#footer #footerWrapper a:hover { text-decoration:underline; }

/* content */

div#content { width:1000px; margin:auto; }

/* classes */

.inlineBlock { display:inline-block; zoom:1; *display:inline; }
.right { float:right; }
.bold {font-weight:bold;}
.italic {font-style:italic;}
.block {display:block;}

.itemList li { margin-bottom:10px; }
.itemList label { display:inline-block; zoom:1; *display:inline; width:100px;vertical-align:top; }
.itemList input { width:300px; }
.itemList textarea { width:83%;height:100px; }
.itemList .button {width:auto;}

.button { text-decoration:none; padding:5px; text-align:center; border:1px solid #DDD; border-radius:4px; background-color:#EEE;
          cursor:pointer; font-size:16px; display:inline-block; zoom:1; *display:inline; }
.button:hover {border-color:#bbb; }

.field-validation-error {color:red;font-size:12px;}

.fullBorder {border:1px solid #ddd;border-radius:4px; }
.topBorder {border-top:1px solid #ddd; }
.bottomBorder {border-bottom:1px solid #ddd; }
.leftBorder {border-left:1px solid #ddd; }
.rightBorder {border-right:1px solid #ddd; }
.padded {padding:10px;}